body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    display: flex;
    min-height: 100vh;
}

/* IZQUIERDA */
.informacion_personal {
    width: 30%;
    background-color: rgb(196, 218, 221);
    padding: 20px;
    box-sizing: border-box;
}

.foto_personal {
    text-align: center;
    margin-bottom: 20px;
}

.foto_personal img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
}

.informacion_personal h2 {
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
    
}

.informacion_personal p {
    font-size: 15px;
    line-height: 1.6;
}

/* DERECHA */
.perfil_profesional {
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
}

.perfil_profesional h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.perfil_profesional h3 {
    margin-top: 0;
    color: gray;
}

.seccion {
    margin-top: 30px;
}

.seccion h2 {
    background-color: rgb(196, 218, 221);
    padding: 8px;
    border-radius: 20px;
    display: inline-block;
    border-bottom: 2px solid black;
}

.seccion p {
    margin-top: 10px;
    font-size: 15px;
}

ul {
    padding-left: 20px;
}


/* RESPONSIVE (CELULAR)   */


@media (max-width: 768px) {

    .contenedor {
        flex-direction: column;
    }

    .informacion_personal,
    .perfil_profesional {
        width: 100%;
    }

    .perfil_profesional {
        padding: 20px;
    }

    .perfil_profesional h1 {
        font-size: 28px;
    }
}
