body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
 display: flex;
 width: 100%;
}
/* Izquierda */
.Infromacion_personal{
width: 30%;
background-color: rgb(196, 218, 221);
padding: 20px;

}
.foto_personal{
text-align: center;
margin-bottom: 20px;

}

.foto_personal img{
    max-width: 100%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid black;
}

.Infromacion_personal h2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: clamp(14px, 2.5vw, 18px);
    border-radius: 20PX;
    display: block;
    word-wrap: break-word;
    

}

.Infromacion_personal p {
    font-size: clamp(14px, 2.5vw, 22px);
    overflow: auto; 
    line-height: 1.6;
}
/* Derecha */

.Infromacion_Profecional  {
    width: 70%;
    padding: 30px;
}

/* Sobre mi */
.sobre_mi {
    width: 70%;
    padding: 30px;
}
.sobre_mi p {
border-top: 2px solid black;
}
.sobre_mi h2{
    background-color:  rgb(196, 218, 221);
    color: rgb(29, 28, 28);
    padding: 5px;
    font-size: 26px;
    margin-top: 2Opx;
    border-radius: 20PX;
    display: inline-block;
    border-top: 2px solid black;
}

.Perfil_Profecional H1  {

 color: rgb(0, 0, 0);
 padding-left: 20px;
 font-size: clamp(34px, 6vw, 54px);
 
}

.Perfil_Profecional H3  {
margin-top: -10px;
 color: rgb(0, 0, 0);
 padding-left: 20px;
 font-size: clamp(22px, 3vw, 34px);
}
/*
.Perfil_Profecional H2 {
    background-color:  rgb(196, 218, 221);
    color: rgb(29, 28, 28);
    padding: 5px;
    font-size: 26px;
    margin-top: 2Opx;
   border-radius: 20PX;
   display: inline-block;
   
   
}
*/
.Perfil_Profecional P  {
font-size: clamp(15px, 2.5vw, 22px);
padding-left: 20px;

}

ul {
    padding-left: 25px;
    
} 


