body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
 display: flex;
 width: 100%;
}
/* Izquierda */
.Infromacion_personal{
width: 30%;
background-color: rgb(196, 218, 221);
padding: 20px;

}
.foto_personal{
text-align: center;
margin-bottom: 20px;
}

.foto_personal img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Infromacion_personal h2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 16px;
    border-radius: 20PX;
    display: inline-block;

}

.Infromacion_personal p {
    font-size: clamp(14px, 2.5vw, 22px);
    overflow: auto; 
}
/* Derecha */

.Infromacion_Profecional  {
    width: 70%;
    padding: 30px;
}

.Perfil_Profecional H1  {
 width: 32px;
 color: rgb(0, 0, 0);
 padding-left: 20px;
}

.Perfil_Profecional H3  {
margin-top: -10px;
 color: rgb(0, 0, 0);
 padding-left: 20px;
}

.Perfil_Profecional H2 {
    background-color:  rgb(196, 218, 221);
    color: rgb(29, 28, 28);
    padding: 5px;
    font-size: 26px;
    margin-top: 2Opx;
   border-radius: 20PX;
   display: inline-block;
   
   
}

.Perfil_Profecional P  {
font-size: clamp(15px, 2.5vw, 22px);
padding-left: 20px;

}

ul {
    padding-left: 25px;
    
} 


